@import models.view.main.account.SignIn
@import views.html.utils.baseInput
@(logOnForm: Form[SignIn])
@import views.html.main._mainLayout;
@import helper._;
@implicitField = @{
    FieldConstructor(baseInput.f)
}

@scripts = {
}
@stylesheets = {
}

@_mainLayout(scripts, stylesheets) {

    @helper.form(action = controllers.main.routes.AccountController.signInSubmit(), 'method -> "POST", 'id -> "loginForm") {

        @if(logOnForm.hasGlobalErrors) {
            <div class="form-global-errors">
                <ul>
                @for( error <- logOnForm.globalErrors) {
                    <li class="form-global-error">@error.message</li>
                }
                </ul>
            </div>
        }

        @helper.inputText(logOnForm(SignIn.EMAIL_FIELD), '_label -> "Email")
        @helper.inputPassword(logOnForm(SignIn.PASSWORD_FIELD), '_label -> "Password")
        <input type="submit" value="Login"/>
    }
}
