@import models.view.main.keyword.KeywordsPaged
@import models.view.main.keyword.KeywordFilter
@import models.view.MainNavigationItem
@import views.html.utils.baseInput
@(Model: KeywordsPaged)
@import views.html.main._mainLayout;
@import helper._; var lastindex = 0
@implicitField = @{
    FieldConstructor(baseInput.f)
}

@scripts = {

    <script src="@routes.Assets.versioned("javascripts/main/keyword/list.js")" type="text/javascript" ></script>
}
@stylesheets = {
}

@_mainLayout(scripts, stylesheets, MainNavigationItem.Keywords) {
    <div class="row">
        <div class="col-md-4">
        @helper.form(action = controllers.main.routes.KeywordController.list(), 'method -> "POST", 'class -> "search", 'id -> "keywordSearchForm") {

            @if(Model.form.hasGlobalErrors) {
                <div class="form-global-errors">
                    <ul>
                    @for(error <- Model.form.globalErrors) {
                        <li class="form-global-error">@error.message</li>
                    }
                    </ul>
                </div>
            }
            @helper.inputText(Model.form(KeywordFilter.NAME_FIELD), '_label -> "Keyword", 'class -> "search-field")
            <input type="hidden" value="1" id="page" name="page" />
            <input type="hidden" value="@Model.paging.itemsPerPage" id="itemsPerPage" name="itemsPerPage" />
            <input type="submit" value="Search"/>
        }
        </div>
    </div>

    <div class="search-results">
        <div class="row">
            <div class="col-md-4">
                <ul>
                @for(keyword <- Model.list) {
                    <li>
                        <div class="search-result-item">
                            <div class="search-result-item-name">
                                <a href="@controllers.main.routes.KeywordController.details(keyword.getKeywordID)">@keyword.getKeyword </a>
                            </div>
                            <div class="search-result-item-type">Type: keyword</div>
                        </div>
                    </li>
                }
                </ul>
            </div>
        </div>
        <div class="row pages">
            <div class="col-md-4" id="paging">
                <a href="page=1">First</a>
                @for(index <- Model.getPageNumbers) {
                    @if(index != lastindex + 1) {
                        ...
                    }
                    <a @if(index == Model.paging.page) {
                        class="page-selected"
                    } href="page=@index">@index</a>
                    @{
                        lastindex = index
                    }
                }
                <a href="page=@Model.getTotalPages">Last</a>
            </div>
        </div>
    </div>
}
